:root {
  --primary-color: #f38ca1;
  --text-color: #333;
  --background-color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 20px 0px var(--primary-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
header .container nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
}
header .container nav ul li a:hover {
  color: var(--primary-color);
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro .text {
  width: 50%;
}
.intro .text h1 {
  font-size: 3.5em;
}
.intro .text p {
  margin: 1rem 0;
  color: var(--text-color);
}
.intro .text button {
  background: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
.intro .text .socials {
  margin-top: 20px;
}
.intro .text .socials a {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-right: 1rem;
  text-decoration: none;
}
.intro .text .socials a:hover {
  color: var(--primary-color);
}
.intro .photo {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.intro .photo img {
  z-index: 1;
}

section.skill {
  padding: 2rem 0;
}
section.skill h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}
section.skill .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
section.skill .skills-list .skill-item {
  background: var(--primary-color);
  color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
section.skill .skills-list .skill-item .icon {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
section.skill .skills-list .skill-item .icon i {
  font-size: 4rem;
  color: var(--background-color);
}
section.skill .skills-list .skill-item:hover {
  transform: translateY(-5px);
}

.about-me {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-me .icon {
  font-size: 50px;
  color: var(--background-color);
  margin-bottom: 15px;
}
.about-me h3 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}
.about-me p {
  font-size: 18px;
  line-height: 1.6;
}

.projects {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}
.projects h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--text-color);
}
.projects .project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.projects .project-list .project-item {
  width: 300px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}
.projects .project-list .project-item img {
  width: 100%;
  height: auto;
}
.projects .project-list .project-item h3 {
  font-size: 24px;
  margin: 15px;
  color: var(--primary-color);
}
.projects .project-list .project-item p {
  font-size: 16px;
  margin: 15px;
  color: #666;
}

footer {
  padding: 10px;
  color: #666;
  text-align: center;
  font-size: 14px;
}
footer .socials a {
  margin: 0 5px;
  color: #666;
  font-size: 16px;
  transition: color 0.3s ease;
}
footer .socials a:hover {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  header .container {
    flex-direction: column;
    align-items: center;
  }
  header .container nav ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .intro {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro .text {
    justify-content: center;
    width: 100%;
  }
  .intro .text h1 {
    font-size: 2.5em;
  }
  .intro .photo {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .intro .photo .circle {
    width: 200px;
    height: 200px;
  }
  .intro .photo img {
    width: 180px;
    height: auto;
  }
  .projects {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */